body {
    min-height: 100vh;
    margin: 0 auto;
}

.dashboard {
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 1fr 5fr;
    background-color: #ddd;
    height: 100vh;
}

.sidebar {
    grid-column: 1/2; 
    grid-row: 1/3;
    /* display: grid; */
    /* grid-template-rows: 1fr 10fr 10fr; */
    padding: 20px;
    background-color: #007bff;
}

.dash-logo {
    font-size: 24px;
}

.dash-logo img {
    height: 40px;
    width: 40px;
}

ul {
    /* grid: ; */
    list-style: none; /* Remove bullet points from the list */
    padding: 0;
    margin: 0;
}

.list-top {
    margin-top: 8px;
}

.list-bottom {
    margin-top: 28px;
}

li {
    display: grid;
    grid-template-columns: 50px 1fr; 
    align-items: center;
    padding: 10px 0;
    color: white; 
    text-align: left;
}

li img {
    height: 25px;
    width: 25px;
    padding-right:8px;
    justify-self: center;
}

li:hover {
    background-color: #0056b3;
    cursor: pointer;
}

.header {
    background-color: white;
    grid-column: 2/3;
    display: grid;
    grid-template-columns: 5fr 4fr;
    grid-template-rows: 1fr 1fr;
    height: 150px;
}

.search {
    display: flex;
    padding-left: 24px;
    align-items: center;
    align-content: center;
}

.searchbar {
    display: flex;
    align-items: center;
    width: 75%;
    height: 50%;
    background-color: #ddd;
    border-radius: 8px;
    margin-left: 4px;
}

.greeting {
    display: flex;
    align-items: center;
    padding-left: 24px; 
    padding-bottom: 8px;
    gap: 8px;
}

.greeting img {
    border:1px solid orange;
    border-radius: 50%;
}

.profile {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-right: 100px;
    justify-content: end;
}

.profile-image {
    border:1px solid orange;
    border-radius: 50%;
}
    
.buttons {
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 8px;
    margin-right: 100px
}
.button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 25px;
    background-color: orange;
    border-radius: 20px;
}

.main {
    margin: 0 18px;
    grid-column: 2/3;
    grid-row: 2/3;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 8fr 1fr 8fr;
    gap: 8px;
}

#title {
    font-size: 24px;
}

.projects-title {
    grid-column: 1/2;
    grid-row: 1/2;
    align-content: end;
}

.projects {
    grid-column: 1/2;
    grid-row: 2/5;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    margin-right: 30px;
    gap: 30px;
    padding-bottom: 24px;
    /* margin:8px; */
} 

.project {
    padding: 8px;
    display: flex;
    flex-direction: column;
    background-color: white;
    border-left: 8px solid orange;
    border-radius: 8px;
    box-shadow: 2px 2px 2px rgb(0, 0, 0, 0.2);
}

.project .icons {
    display: flex;
    margin: auto 0;
    justify-content: right;
    gap: 8px;
}

.announcements-title {
    grid-column: 2/3;
    grid-row:1/2;
    align-content: end;
}

.announcements {
    grid-column: 2/3;
    grid-row: 2/3;
    /* display:flex; */
    /* flex-direction: column; */
    padding:8px 12px;
    text-align: left;
    /* margin: 0 auto; */
    background-color: white;
    border-radius: 8px;
    box-shadow: 2px 2px 2px rgb(0, 0, 0, 0.2);
    /* justify-content: space-evenly; */
}

.announcement-top {
    border: 0;
    padding: 8px 0;
}

.announcement {
    padding: 8px 0;
    border-top: 1px solid #ddd;
}

.trending-title {
    grid-column: 2/3;
    grid-row: 3/4;
    display: flex;
    flex-direction: column;
    justify-content: end;
}

.trending {
    grid-column: 2/3;
    grid-row: 4/5;
    gap: 12px;
    display: flex;
    flex-direction: column;
    padding:8px 12px;
    text-align: left;
    /* margin: 0 auto; */
    background-color: white;
    border-radius: 8px;
    box-shadow: 2px 2px 2px rgb(0, 0, 0, 0.2);
    margin-bottom: 24px;
    justify-content: space-evenly;
}

.trending img{
    height: 25px;
    width: 25px;
    border-radius: 50%;
    margin-left: 8px;
}

.trend {
    display: flex;
    align-items: center;
}

.trend div {
    display: flex;
    flex-direction: column;
    margin-left: 8px;
}
